<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-10-16T16:35:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/user144724/Desktop/Weather_Final/Weather_Final.xcodeproj</string>
</dict>
</plist>
